.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px 43px 100px;
    border-radius: 25px;
    height: 223px;
    background-image: url(./ImageHome.png);
    mix-blend-mode: darken;
    background-position: center;
    opacity: 60%;

    h1{
        color: white;
    }
}