.background {
    height: 223px;
    margin: 0 100px 38px 100px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0,0,0,0.400),rgba(0,0,0,0.400)), url(./ImageApropos.jpg);
    background-position: center;
    background-size: cover;
}