.centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redColor {
    color: #ff6060;

    h1 {
        display: flex;
        justify-content: center;
        margin: 139px 0 139px 0;
    }

    h3 {
        margin-bottom: 139px;
    }
}

.blackColor {
    color: black;
    font-weight: 500;
    margin-bottom: 139px;
}