body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-size: 288px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
}

.link, h4 {
  font-size: 24px;
  font-weight: 500;
}

