@media screen and (max-width: 768px) {
    .header {
        margin: 20px 20px 27px 20px;
    }

    .logoRougeMobile {
        display: flex;
    }

    .logoRouge {
        display: none;
    }

    .banner {
        margin: 0 20px 0 20px;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 25px 0 25px 0;
        padding: 0 20px 0 20px;
        gap: 20px;
        background-color: white;
    }

    .carrousel {
        margin: 0 20px 0 20px;
    }

    .infos {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
    }

    .infosHost {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .details {
        display: flex;
        flex-direction: column;
        margin: 0 20px 27px 20px;
        padding: 0;
        gap: 20px;
    }
}